<div class="container">
  <h1 class="titulo">Sobre TCU OBEX</h1>
  <mat-divider></mat-divider>
  <body class="descripcion">
  Durante años, la ciencia se ha encontrado de espaldas a la sociedad. Solo un pequeño grupo  de personas fueron capaces
  de entender los conceptos relacionados en esta área, mientras que para algunos otros estos conceptos son abstractos y
  complicados.
  <br>
  En TCU-OBEX se busca crear un vínculo entre la sociedad y la ciencia, utilizando como herramienta la observación y la
  experimentación, utilizando métodos más cotidianos y de fácil comprensión. Como por ejemplo utilizar un libro sencillo
  como "El Principito", para con este enlazar la literatura con la ciencia.
  <br>
  Los conocimientos científicos no pueden encontrarse desarticulados del movimiento social, de ahí la importancia de
  querer establecer la conexión entre ambos. Este es el objetivo con nuestros proyectos.
  <br>
  </body>

  <h1>Áreas de interés <button mat-button routerLink="/areasdeinteres" *ngIf="authService.isLoggedIn()">Editar</button> </h1>
  <mat-card class="areasInteresContainer">

    <div *ngFor="let area of areasDeInteres">
      <button mat-button>
        <img src="../../assets/images/100.png" *ngIf="area.ubicacion_imagen == ''">
        <img src="{{area.url_imagen}}" *ngIf="area.ubicacion_imagen != ''" width="100px">
        <div>{{area.esp_nombre}}</div>
      </button>
    </div>


  </mat-card>

  <h1>Últimas noticias</h1>
</div>
