<div class="container">
  <form [formGroup]="formArticulo">

    <h2>{{titulo}}</h2>
    <mat-card class="formContainer">

      <mat-form-field>
        <input matInput placeholder="Título" formControlName="esp_titulo" required>
        <mat-error *ngIf="datos.esp_titulo.errors?.required && datos.esp_titulo.touched">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>

      <div *ngIf="modoForm == 'visualizar'" style="margin-bottom: 1.5rem">
        <img src="../../../assets/images/100.png" *ngIf="this.ubicacion_imagen == ''">
        <img src="{{articulo.url_imagen}}" *ngIf="this.ubicacion_imagen != ''" width="100px">
        <div>
          Escrito por {{nombreAutor}}.<br>
          {{articulo.fecha}}.
        </div>
      </div>

      <div *ngIf="modoForm == 'agregar'">
        <mat-label>Imagen del artículo</mat-label>
        <input type="file" (change)="onFileSelect($event)" />
      </div>

      <angular-markdown-editor textareaId="editor1"  [options]="editorOptions"
                               rows="12" name="markdownText" [(ngModel)]="markdownText" [ngModelOptions]="{standalone: true}"
                               *ngIf="modoForm == 'agregar'">
      </angular-markdown-editor>

      <markdown [data]="articulo.esp_cuerpo" *ngIf="modoForm == 'visualizar'"></markdown>

    </mat-card>
  </form>

  <button mat-button class="botonesAceptarCancelar" type="submit" (click)="editar()" *ngIf="modoForm === 'editar'" [disabled]="formArticulo.invalid">Aceptar</button>
  <button mat-button class="botonesAceptarCancelar" type="submit" (click)="agregar()" *ngIf="modoForm === 'agregar'" [disabled]="formArticulo.invalid">Aceptar</button>

  <button mat-button class="botonesAceptarCancelar" type="button" (click)="cancelar()">Cancelar</button>

</div>
