@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~material-design-icons/iconfont/material-icons.css';

/* for sidenav to take a whole page */
html, body {
  margin: 0;
  height: 100%;
}

.botonesAceptarCancelar {
  background-color: #41ade7;
  color: white;
  margin-top: 10px !important;
  margin-right: 5px !important;
  margin-bottom: 5px !important;
}
